@using BandsMvc.Models;
@model Band
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div>
        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Description</li>
    </div>
</body>
</html>